<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='styles/layout.css'>
  <title>Story Page</title>
</head>


<body>

  <%- include('partials/_header') %>

  <main>
    <h1>World's best Authors come here</h1>
    <section class='read+create'>
      <div class='browse-stories'>
        <% for(let story of stories) { %>
        <div class='story-box'>
          <div class='img-box'>
            <a href="/stories/<%= story.id %>"><img src="<%= story.img_url %>"></a>
          </div>
          <div class='story-info'>
            <h1><%= story.title %></h1>
            <p><%= story.beginning_story %> </p>
            <!-- <p><Read More</a></p> -->
          </div>
        </div>
        <% } %>
      </div>
      <div class='form-div'>
        <h3>Create your own story:</h3>
        <form action="/" method="POST">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title"><br><br>
          <label for="content">Content</label>
          <input type="text" id="content" name="content"><br><br>
          <label for="book_img">Enter A book Image if you like?</label>
          <input type="url" id="book_img" name="book_img"><br><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </section>
  </main>
</body>

</html>
<!-- check condintions use this ejs file
GET /stories -->
<!-- render home browse (all stories that are not the user's)
GET /mystories -->
<!-- render my own stories -->
