<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/styles/layout.css'>

  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <script type="text/javascript" src="/scripts/app.js"></script>

  <title>Story Page</title>
</head>


<body>

  <%- include('partials/_header') %>

  <main>
    <!-- <h1>world's best authors come here</h1> -->
    <section class='read-create'>
      <div class='browse-stories'>
        <% for(let story of stories) { %>
        <div class='story-box'>
          <div class='img-box'>
            <a href="/stories/<%= story.id %>"><img src="<%= story.img_url %>"></a>
          </div>
          <div class='story-info'>
            <h1><%= story.title %></h1>
            <p><%= story.beginning_story %> </p>
          <div>
            <% if(story.published === false) {%>
              <p class ='status'>STATUS: IN PROGRESS</p>
            <% } else { %>
              <p class ='status'>STATUS: COMPLETED</p>
            <% } %>
          </div>
          </div>
        </div>
        <% } %>
      </div>
      <div class='form-div'>
        <h3>Create your own story:</h3>
        <form action="/stories" method="POST">
          <label for="title">title:</label>
          <textarea type="text" id="title" name="title"></textarea>
            <br><br>
          <label for="content">start your story here:</label>
          <textarea type="text" id="content" name="beginning_story"></textarea>
            <br><br>
          <label for="book_img">image url goes here:</label>
          <textarea type="url" id="book_img" name="img_url"></textarea>
            <br><br>
          <button class='btn' type="submit" value="submit">submit</button>
        </form>
      </div>
    </section>
  </main>
</body>

</html>
<!-- check condintions use this ejs file
GET /stories -->
<!-- render home browse (all stories that are not the user's)
GET /mystories -->
<!-- render my own stories -->
