<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel='stylesheet' href='/styles/layout.css'>

  <title>Document</title>
</head>

<body>
  <!-- we need to check to see whether it's the user who is logged in -->
  <%- include('partials/_header') %>
  <container class='cont-body'>
    <div class='single-story-box'>
      <h1><%= story.title %></h1>
      <h2><%= story.name %></h2>
      <img src="<%= story.img_url %>"></img>
      <p><%= story.beginning_story %></p>
      <p><%= story.created_at %></p>
    </div>

    <% if(user === story.name_id) { %>


    <div class='author'>
      <% for (let contribution of contributions) { %>
      <p>submitted by:</p>
      <p> <%= contribution.name %></p>
      <h3><%= contribution.text_addon %></h3>
      <p><%= contribution.accepted_at %></p>
      <% } %>
    </div>

    <!-- Features - ADD delete and publish -->
    <% } else { %>

    <div class='reader'>
      <% for (let contribution of contributions) { %>
      <p>submitted by:</p>
      <p><%= contribution.name %></p>
      <h3><%= contribution.text_addon %></h3>
      <p><%= contribution.accepted_at %></p>
      <% } %>
    </div>
    <div class='new-cont'>
      <form class='contribution' action='/stories/:id' method='POST'>
        <label for="contribution">write your contribution here:</label>
        <textarea type="text" id="text-addon" name="text-addon"></textarea>
        <button class='btn' type="submit" value="submit">submit</button>
        <br><br>

      </form>
    </div>

    <% } %>

    <!-- New Story Post Container  -->
  </container>

</body>

</html>
