<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel='stylesheet' href='/styles/layout.css'>

  <title>Document</title>
</head>

<body>
  <!-- we need to check to see whether it's the user who is logged in -->
  <%- include('partials/_header') %>
    <h1><%= story.title %></h1>
    <h2><%= story.name %></h2>

    <% if(user === story.name_id) { %>


    <div>
      <% for (let contribution of contributions) { %>
      <h1><%= contribution.story_id %></h1>
      <h2><%= contribution.name_id %></h2>
      <h3><%= contribution.text_addon %></h3>
      <h4><%= contribution.accepted_at %></h4>
      <% } %>
    </div>

      <!-- Features - ADD delete and publish -->
    <% } else { %>


    <div>

      <% for (let contribution of contributions) { %>
      <h1><%= contribution.story_id %></h1>
      <h2><%= contribution.name_id %></h2>
      <h3><%= contribution.text_addon %></h3>
      <h4><%= contribution.accepted_at %></h4>

      <% } %>
    <% } %>

    </div>
    <!-- New Story Post Container  -->
    <section id="story-feed">

    </section>

</body>

</html>
